

#no_js_content {

	padding: 		50px;
	margin-top:		100px;
	text-align: 	center;

}

#no_js_header {

	font-size: 		24pt;
	line-height: 	36pt;

}

#no_js_text {

	font-size: 		14pt;
	line-height: 	21pt;

}