@use "sass:color"; // enable color.scale()

$light_color:           #fcfcfc;
$light_color_2:         #f0f0f0;
$light_color_3:         #eaeaea;
$dark_color:            #333333;
$dark_color_2:          #111111;
$dark_color_3:          #000000;

$theme_color:			#006341;
$error_color: 			#d9534f;
//$error_color: 			crimson;
$info_color: 			#5bc0de;
$success_color: 		#1fb141;
$warning_color: 		#f0ad4e;

// shade variants of colors are at the bottom of this file

$min_width:             800px;

$default_font_size:     16px;

$ribbon_height:			40px;

$menu_width: 			200px;

$content_row_height:	32px;


$activities_table_cols:		100px 	minmax(120px, 1fr)	minmax(120px, 1fr)	minmax(120px, 3fr) 	minmax(80px, 1fr) 	minmax(60px, 1fr) 	70px	50px		70px 		90px 			90px; /* min-content max-content values possible*/
$activities_table_areas:	"date	category			project				activity 			investor			source 				time	efficiency	eff_time 	expected_yield 	actual_yield";

$projects_table_cols:		100px 	50px 	minmax(150px, 2fr) 	minmax(60px, 1fr) 	minmax(60px, 1fr) 	minmax(60px, 1fr)	50px			60px 		50px 		60px 			90px 			50px 	90px 			50px; /* min-content max-content values possible*/
$projects_table_areas:		"date 	n 		name 				category 			investor 			source				activities	time_spent 	efficiency 	eff_time_spent 	expected_yield 	paid 	actual_yield 	finished";

$categories_table_cols:	 	50px 	minmax(200px, 1fr) 	 50px 		50px 		70px 		50px 		70px 			90px  			90px; 	/* min-content max-content values possible*/
$categories_table_areas:	"id 	name 				 projects	activities	time_spent efficiency 	eff_time_spent 	expected_yield 	actual_yield";

$investors_table_cols:	 	50px 	minmax(200px, 1fr) 	 90px			50px 		50px 		70px 		50px 		70px 			90px  			90px; 	/* min-content max-content values possible*/
$investors_table_areas:		"id 	name 				 address	projects	activities	time_spent efficiency 	eff_time_spent 	expected_yield 	actual_yield";

$sources_table_cols:	 	50px 	minmax(200px, 1fr) 	 50px 		50px 		70px 		50px 		70px 			90px  			90px; 	/* min-content max-content values possible*/
$sources_table_areas:		"id 	name 				 projects	activities	time_spent efficiency 	eff_time_spent 	expected_yield 	actual_yield";

//$error_color_darker: 	#BF4945;
// instead use darken (new sass deprecated darken -> use: color.scale(#036, $lightness: -30%);   ....https://sass-lang.com/documentation/modules/color
$error_color_lighter: 	color.scale($error_color, $lightness: 10%);
$error_color_lighter_2: color.scale($error_color, $lightness: 20%);
$error_color_darker: 	color.scale($error_color, $lightness: -20%);
$error_color_darker_2: 	color.scale($error_color, $lightness: -30%);

$theme_color_lighter: 	color.scale($theme_color, $lightness: 5%);
$theme_color_lighter_2: color.scale($theme_color, $lightness: 15%);
$theme_color_darker: 	color.scale($theme_color, $lightness: -10%);
$theme_color_darker_2: 	color.scale($theme_color, $lightness: -20%);

$success_color_lighter: 	color.scale($success_color, $lightness: 10%);
$success_color_lighter_2: 	color.scale($success_color, $lightness: 20%);
$success_color_darker: 		color.scale($success_color, $lightness: -20%);
$success_color_darker_2: 	color.scale($success_color, $lightness: -30%);

$info_color_lighter: 		color.scale($info_color, $lightness: 10%);
$info_color_lighter_2: 		color.scale($info_color, $lightness: 20%);
$info_color_darker: 		color.scale($info_color, $lightness: -20%);
$info_color_darker_2: 		color.scale($info_color, $lightness: -30%);

$warning_color_lighter: 	color.scale($warning_color, $lightness: 10%);
$warning_color_lighter_2: 	color.scale($warning_color, $lightness: 20%);
$warning_color_darker: 		color.scale($warning_color, $lightness: -20%);
$warning_color_darker_2: 	color.scale($warning_color, $lightness: -30%);
