
@mixin display($display) {
 
    display: $display;
    
}

@mixin btn_sizes($size) {

    font-size: 				floor($size*0.6);
    line-height:			floor($size*0.6);
    padding: 				0px floor(calc($size/2));
    height:					$size;
    border-radius: 			ceil(calc($size/6));

}